.science23 {
  background-color: #eaeff5;
  background-image: linear-gradient(rgba(240, 240, 240, 0.7), rgba(240, 240, 240, 0.7)), url("../img/features-bg.png");
  background-size: cover;
  padding-bottom: 2rem;
}
