.slider-life {
  padding-top: 1rem;
  padding-bottom: 1rem;

  @media (min-width: $tablet-size-land) {
    min-height: 700px;
    position: relative;
    height: 1px;
    padding-top: 0;
    padding-bottom: 0;
  }

  &::before {
    @media (min-width: $tablet-size-land) {
      content: "";
      position: absolute;
      top: 0;
      left: 25%;
      bottom: 0;
      width: 30%;
      background-color: #4d6fb739;
      background: linear-gradient(90deg, rgb(167, 197, 225) 15%, rgba(111, 167, 218, 0) 100%);
    }
  }

  &__image-container {
    padding-top: 1rem;

    @media (min-width: $tablet-size-land) {
      padding-top: 0;
      position: absolute;
      top: 31%;
      left: 40%;
      width: 55%;
      bottom: 3%;
    }

    @media (min-width: $desktop-size-average) {
      width: 43%;
    }

    @media (min-width: $desktop-size-large) {
      left: 35%;
      width: 38%;
    }
  }

  &__image {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 6px;
  }

  &__text-container {
    border-radius: 6px;
    background-color: $green-color;
    color: $white-color;
    padding: 1rem;
    box-shadow: $shadow-large;
    position: relative;

    @media (min-width: $tablet-size-land) {
      position: absolute;
      top: 8%;
      left: 10%;
      width: 33%;
      min-height: 50%;
      max-height: initial;
      z-index: 10;
    }

    @media (min-width: $desktop-size-average) {
      height: 1px;
    }
  }

  &__text-container-inner {
    overflow: hidden;
    height: 100%;
  }

  &__swiper {
    height: 100%;
    position: relative;
  }

  &__swiper-slide {
    height: auto!important;
  }

  &__image-swiper {
    height: 100%;
  }

  &__btn {
    width: 30px!important;;
    height: 30px!important;
    border-radius: 50%;
    background-color: $tertiary-color;
    box-shadow: $shadow-normal;
    transition: background-color 0.3s;

    &:hover {
      background-color: $primary-color;
    }

    &:active {
      background-color: $primary-light-color;
    }

    &::after {
      content: '';
      // font-size: 1rem!important;
      // font-weight: 600;
      // color: $white-color;
    }

    @media (min-width: $tablet-size-land) {
      width: 40px!important;
      height: 40px!important;
    }

    &_next {
      right: -13px !important;

      @media (min-width: $tablet-size-land) {
        right: -18px !important;
      }
    }

    &_prev {
      left: -13px !important;
      //top: 49%!important;

      @media (min-width: $tablet-size-land) {
        left: -18px !important;
        top: 49%!important;
      }
    }
  }

  &__icon {
    width: 20px;
    height: 20px;

    @media (min-width: $tablet-size-land) {
      width: 30px;
      height: 30px;
    }
  }

  &__icon_prev {
    margin-left: -5px;
  }

  &__icon_next {
    margin-left: 2px;
  }
}
