.stud-life {
  background-image: url(../img/logo-bg.svg);
  background-repeat: no-repeat;
  background-size: auto 120%;
  background-position: top right;
  background-color: $grey-color;
  overflow: hidden;
}
