$primary-color: #0028d2;
$primary-dark-color: #032a60;
$primary-light-color: #0028d2;
$primary-hover-color: #2f53eb;
$secondary-color: #4d6fb7;
$tertiary-color: #4d6fb7;
$dropdown-menu-color: #2b55d5;
$aside-color: #254986;
$menu-color: #003770;
$white-color: #fff;
$black-color: #121212;
$green-color: #00bbc6;
$grey-color: #eaeff6;
$light-grey-color: #fbfbfb;
$dark-grey-color: #dadada;
$shadow-normal: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06);
$shadow-medium: 0 4px 6px -1px rgba(0, 0, 0, 0.1),
  0 2px 4px -1px rgba(0, 0, 0, 0.06);
$shadow-large: 0 10px 15px -3px rgba(0, 0, 0, 0.1),
  0 4px 6px -2px rgba(0, 0, 0, 0.05);
//
$color-black: #3a3f4a;
$color-black-mobile: #777c8a;
$color-accent: #0128d2;
$color-hover: #ebeefb;
$color-grey: #8b8e96;
$color-white: #ffffff;
$color-background: #f4f7f9;
$color-overlay: #444857c7;
$shadow-small-white: 2px -1px 4px 0 rgb(107 122 134 / 6%),
  -2px 6px 4px 0 rgb(120 136 148 / 6%);
$shadow-small-dark: 2px -1px 4px 0 rgba(100, 121, 138, 0.1),
  -2px 6px 4px 0 rgba(100, 121, 138, 0.1);
$shadow-small-hover: 2px -1px 4px 0 rgba(71, 90, 105, 0.1),
  -2px 6px 4px 0 rgba(71, 90, 105, 0.1);
$shadow-small-accent: 2px -1px 4px 0 rgba(19, 28, 64, 0.1),
  -2px 6px 4px 0 rgba(19, 28, 64, 0.1);
$shadow-mobile-white: 2px -1px 3px 0 rgba(71, 90, 105, 0.05),
  -2px 6px 3px 0 rgba(71, 90, 105, 0.05);
$shadow-medium-white: 0 5px 16px rgb(100 121 138 / 7%),
  0 0 18px rgb(100 121 138 / 5%), 0 6px 8px rgb(100 121 138 / 5%);
//
$mobile-size-land: 576px;
$tablet-size-port: 768px;
$tablet-size-land: 1024px;
$desktop-size-small: 1200px;
$desktop-size-average: 1400px;
$desktop-size-large: 1920px;
$max-page-width: 2100px;
