<footer class="footer page__footer">
  <div class="footer__container container">
    <div class="footer__wrapper">
      <div class="footer__col1">
        <div class="footer__col1-wrapper">
          <div class="footer__logo-container">
            <img
              class="footer__logo"
              src="img/logo-new-white.svg"
              alt="Логтип СКФУ"
              title="Северо-Кавказский федеральный университет"
            />
          </div>

          <div class="footer__name-container">
            <p>ФГАОУ ВО «Северо-Кавказский федеральный университет»</p>
            <p>
              Официальной информацией о СКФУ могут считаться только материалы,
              размещённые на сайте ncfu.ru или на сайтах третьего уровня
              доменной зоны ncfu.ru. За сведения, размещённые на внешних
              ресурсах, СКФУ ответственности не несёт.
            </p>

            <div class="detail">
              <button class="detail__btn js-detail-btn">
                Свидетельство СМИ <span class="detail__icon">&#187;</span>
              </button>
              <p class="detail__text detail__text_hidden">
                Выписка из реестра зарегистрированных СМИ серия ЭЛ № ФС 77 –
                83810 выдано 19.08.2022 г. Федеральной службы по надзору в сфере
                связи, информационных технологий и массовых коммуникаций
                (Роскомнадзор) Учредитель средства массовой информации: ФГАОУ ВО
                Северо-Кавказский федеральный университет<br />
                Главный редактор СМИ Сетевое издание: «Новости СКФУ»: М.Г.
                Тизенгаузен<br />
                Адрес электронной почты, номер телефона редакции: press@ncfu.ru
                +7(8652)33-07-38
              </p>
            </div>
          </div>
        </div>
      </div>
      <div class="footer__col2">
        <p>
          <a href="#"
            >Министерство науки и высшего образования Российской Федерации</a
          >
        </p>
        <p><a href="#">Министерство просвещения Российской Федерации</a></p>
        <p><a href="#">Антикоррупционная деятельность</a></p>
      </div>
      <div class="footer__col3">
        <p>
          Контакт-центр: 8-800-200-64-76<br />
          (звонок бесплатный)
        </p>
        <p><a href="#">Отправить обращение в организацию</a></p>
      </div>
      <div class="footer__col4">
        <p class="footer__title">Приемная комиссия</p>
        <p>
          Телефон: 8 (8652) 95-68-13<br />
          Адрес: 355029, г.&nbsp;Ставрополь, пр. Кулакова, 2 (корпус 10)
        </p>
      </div>

      <div class="footer__col5">
        <p class="footer__title">Контакты</p>
        <p>
          ФГАОУ ВО «Северо-Кавказский федеральный университет»<br />
          Адрес: 355017, г.Ставрополь, ул.&nbsp;Пушкина, 1<br />
          Телефон: 8 (8652) 95-68-08<br />
          Факс: 8 (8652) 95-68-03
        </p>

        <div class="social social_align-left pb-2">
          <a class="social__link" href="https://t.me/ncfulife">
            <svg class="icon">
              <use xlink:href="img/svg-sprite.svg#icon-telegram"></use>
            </svg>
          </a>

          <a class="social__link" href="https://vk.com/ncfu_main">
            <svg class="icon">
              <use xlink:href="img/svg-sprite.svg#icon-vk"></use>
            </svg>
          </a>

          <a
            class="social__link"
            href="http://www.youtube.com/channel/UCPW57m5f6gQGBgO7a9Gpt1w"
          >
            <svg class="icon">
              <use xlink:href="img/svg-sprite.svg#icon-youtube"></use>
            </svg>
          </a>

          <a class="social__link" href="https://ok.ru/group/57377608171624">
            <svg class="icon">
              <use xlink:href="img/svg-sprite.svg#icon-odnoklassniki"></use>
            </svg>
          </a>

          <a class="social__link" href="https://www.tiktok.com/@ncfu_vuz">
            <svg class="icon">
              <use xlink:href="img/svg-sprite.svg#icon-twitter"></use>
            </svg>
          </a>

          <a class="social__link" href="https://rutube.ru/channel/23921803/">
            <svg class="icon">
              <use xlink:href="img/svg-sprite.svg#icon-rutube"></use>
            </svg>
          </a>
        </div>
      </div>
    </div>
  </div>
</footer>

<script>
  document.addEventListener("DOMContentLoaded", function (event) {
    const detailBtnEl = document.querySelector(".js-detail-btn");
    detailBtnEl.addEventListener("click", function () {
      detailBtnEl.nextElementSibling.classList.toggle("detail__text_hidden");
    });
  });
</script>

<div class="cookie-notice cookie-notice_hidden js-cookie-notice">
  <p class="m-0 p-0">
    На нашем сайте используются cookie-файлы и другие аналогичные технологии.
    Если, прочитав это сообщение, вы остаётесь на нашем сайте, это означает, что
    вы не возражаете против использования этих технологий.
  </p>
  <button class="button button_type_outline js-btn-accept">Принять</button>
</div>
