<nav class="navigation page__navigation">
  <div class="container">
    <div class="navigation__panel">
      <button class="hamburger js-hamburger-btn">
          <span class="hamburger__inner">
            <span></span>
            <span></span>
            <span></span>
          </span>
      </button>
      <a class="navigation__logo"  href="/">
        <img class="navigation__logo-img" src="img/logo-single.svg" width="40" height="40" alt="Логотип СКФУ" />
      </a>
    </div>
    <ul class="navigation__menu js-menu">
      <li class="navigation__item">
        <a class="navigation__link" href="#">Университет</a>

        <ul class="navigation__dropdown">
          <li class="navigation__dropdown-item">
            <a class="navigation__dropdown-link" href="#">Пункт 1</a>
          </li>
          <li class="navigation__dropdown-item">
            <a class="navigation__dropdown-link" href="#">Пункт 1</a>
          </li>
          <li class="navigation__dropdown-item">
            <a class="navigation__dropdown-link" href="#">Пункт 1</a>
          </li>
          <li class="navigation__dropdown-item">
            <a class="navigation__dropdown-link" href="#">Пункт 1</a>
          </li>
          <li class="navigation__dropdown-item">
            <a class="navigation__dropdown-link" href="#">Пункт 1</a>
          </li>
        </ul>

      </li>

      <li class="navigation__item">
        <a class="navigation__link" href="#">Приоритет 2030</a>
      </li>

      <li class="navigation__item">
        <a class="navigation__link" href="#">Студенту</a>

        <ul class="navigation__dropdown navigation__dropdown_two-col">
          <li class="navigation__dropdown-item">
            <a class="navigation__dropdown-link" href="#">Пункт 1</a>
          </li>
          <li class="navigation__dropdown-item">
            <a class="navigation__dropdown-link" href="#">Пункт 1</a>
          </li>
          <li class="navigation__dropdown-item">
            <a class="navigation__dropdown-link" href="#">Пункт 1</a>
          </li>
          <li class="navigation__dropdown-item">
            <a class="navigation__dropdown-link" href="#">Пункт 1</a>
          </li>
          <li class="navigation__dropdown-item">
            <a class="navigation__dropdown-link" href="#">Пункт 1</a>
          </li>
          <li class="navigation__dropdown-item">
            <a class="navigation__dropdown-link" href="#">Пункт 1</a>
          </li>
          <li class="navigation__dropdown-item">
            <a class="navigation__dropdown-link" href="#">Пункт 1</a>
          </li>
          <li class="navigation__dropdown-item">
            <a class="navigation__dropdown-link" href="#">Пункт 1</a>
          </li>
          <li class="navigation__dropdown-item">
            <a class="navigation__dropdown-link" href="#">Пункт 1</a>
          </li>
          <li class="navigation__dropdown-item">
            <a class="navigation__dropdown-link" href="#">Пункт 1</a>
          </li>
          <li class="navigation__dropdown-item">
            <a class="navigation__dropdown-link" href="#">Пункт 1</a>
          </li>
          <li class="navigation__dropdown-item">
            <a class="navigation__dropdown-link" href="#">Пункт 1</a>
          </li>
          <li class="navigation__dropdown-item">
            <a class="navigation__dropdown-link" href="#">Пункт 1</a>
          </li>
          <li class="navigation__dropdown-item">
            <a class="navigation__dropdown-link" href="#">Пункт 1</a>
          </li>
          <li class="navigation__dropdown-item">
            <a class="navigation__dropdown-link" href="#">Пункт 1</a>
          </li>
        </ul>
      </li>

      <li class="navigation__item">
        <a class="navigation__link" href="#">Наука</a>
      </li>

      <li class="navigation__item">
        <a class="navigation__link" href="#">Инновации</a>
      </li>

      <li class="navigation__item">
        <a class="navigation__link" href="#">Образование</a>
      </li>

      <li class="navigation__item">
        <a class="navigation__link" href="#">Абитуриенту</a>
      </li>

      <li class="navigation__item">
        <a class="navigation__link" href="#">Сотруднику</a>
      </li>

      <li class="navigation__item">
        <a class="navigation__link" href="#">Международная деятельность</a>
      </li>

    </ul>
  </div>
</nav>
