 <div class="page__navigation">
      <div class="navigation js-navigation">
        <div class="container">
          <div class="navigation__row scrolled js-navigation-mobile">
            <a class="navigation__logo scrolled js-logo-menu " href="index.html">
              <svg width="45" height="45">
                <use xlink:href="img/svg-sprite.svg#i-logo"></use>
              </svg>
            </a>
      
            <button class="hamburger js-hamburger-btn">
                <span class="hamburger__inner">
                  <span></span>
                  <span></span>
                  <span></span>
                </span>
            </button>
          </div>

          <nav class="navigation__menu js-menu">
            <div class="navigation__overlay js-menu-overlay"></div>
            <ul class="navigation__list">
              <li class="navigation__item">
                <a class="navigation__logo-link active js-logo-link" href="index.html">
                  <svg class="icon24 icon24_margin_none" width="33" height="32">
                    <use xlink:href="img/svg-sprite.svg#i-logo-small"></use>
                  </svg>
                </a>
              </li>
      
              <li class="navigation__item">
                <a class="navigation__link" href="#">Университет
                  <svg class="navigation__icon" width="24" height="22">
                    <use xlink:href="img/svg-sprite.svg#i-univer"></use>
                  </svg>
                  <svg class="navigation__icon navigation__icon--right" width="24" height="22">
                    <use xlink:href="img/svg-sprite.svg#i-arrow"></use>
                  </svg>
                </a>
                <div class="navigation__dropdown navigation__dropdown--column-three navigation__dropdown--left">
                <ul class="navigation__dropdown-wrapper navigation__dropdown-wrapper--column-three">
                  <li class="navigation__dropdown-item">
                    <a class="navigation__dropdown-link" href="#">Новости</a>
                  </li>
                  <li class="navigation__dropdown-item">
                    <a class="navigation__dropdown-link" href="#">Руководство</a>
                  </li>
                  <li class="navigation__dropdown-item">
                    <a class="navigation__dropdown-link" href="#">Наблюдательный совет</a>
                  </li>
                  <li class="navigation__dropdown-item">
                    <a class="navigation__dropdown-link" href="#">Ученый совет</a>
                  </li>
                  <li class="navigation__dropdown-item">
                    <a class="navigation__dropdown-link" href="#">Аккредитация</a>
                  </li>
                  <li class="navigation__dropdown-item">
                    <a class="navigation__dropdown-link" href="#">Закупки</a>
                  </li>
                  <li class="navigation__dropdown-item">
                    <a class="navigation__dropdown-link" href="#">Фонд управления целевым капиталом</a>
                  </li>
                  <li class="navigation__dropdown-item">
                    <a class="navigation__dropdown-link" href="#">Безопасность университета</a>
                  </li>
                  <li class="navigation__dropdown-item">
                    <a class="navigation__dropdown-link" href="#">Противодействие коррупции</a>
                  </li>
                  <li class="navigation__dropdown-item">
                    <a class="navigation__dropdown-link" href="#">Партнёры</a>
                  </li>
                  <li class="navigation__dropdown-item">
                    <a class="navigation__dropdown-link" href="#">Реквизиты</a>
                  </li>
                  <li class="navigation__dropdown-item">
                    <a class="navigation__dropdown-link" href="#">Институты и факультеты</a>
                  </li>
                  <li class="navigation__dropdown-item">
                    <a class="navigation__dropdown-link" href="#">СКФУ сегодня: цифры и факты</a>
                  </li>
                  <li class="navigation__dropdown-item">
                    <a class="navigation__dropdown-link" href="#">Попечительский совет</a>
                  </li>
                  <li class="navigation__dropdown-item">
                    <a class="navigation__dropdown-link" href="#">Структура</a>
                  </li>
                  <li class="navigation__dropdown-item">
                    <a class="navigation__dropdown-link" href="#">Документы</a>
                  </li>
                  <li class="navigation__dropdown-item">
                    <a class="navigation__dropdown-link" href="#">Программа развития университета</a>
                  </li>
                  <li class="navigation__dropdown-item">
                    <a class="navigation__dropdown-link" href="#">Профсоюз</a>
                  </li>
                  <li class="navigation__dropdown-item">
                    <a class="navigation__dropdown-link" href="#">Точка кипения СКФУ</a>
                  </li>
                  <li class="navigation__dropdown-item">
                    <a class="navigation__dropdown-link" href="#">Противодействие терроризму и экстремизму</a>
                  </li>
                  <li class="navigation__dropdown-item">
                    <a class="navigation__dropdown-link" href="#">История университета</a>
                  </li>
                  <li class="navigation__dropdown-item">
                    <a class="navigation__dropdown-link" href="#">Сведения об образовательной организации</a>
                  </li>
                  <li class="navigation__dropdown-item">
                    <a class="navigation__dropdown-link" href="#">Медиа</a>
                  </li>
                </ul>
                </div>
              </li>
      
              <li class="navigation__item">
                <a class="navigation__link" href="#">Студенту
                  <svg class="navigation__icon" width="24" height="22">
                    <use xlink:href="img/svg-sprite.svg#i-stud"></use>
                  </svg>
                  <svg class="navigation__icon navigation__icon--right" width="24" height="22">
                    <use xlink:href="img/svg-sprite.svg#i-arrow"></use>
                  </svg>
                </a>
                  <div class="navigation__dropdown navigation__dropdown--column-three navigation__dropdown--left">
                <ul class="navigation__dropdown-wrapper navigation__dropdown-wrapper--column-three">
                  <li class="navigation__dropdown-item">
                    <a class="navigation__dropdown-link" href="#">Новости студенческой жизни</a>
                  </li>
                  <li class="navigation__dropdown-item">
                    <a class="navigation__dropdown-link" href="#">Расписание звонков</a>
                  </li>
                  <li class="navigation__dropdown-item">
                    <a class="navigation__dropdown-link" href="#">Онлайн-сервис заказа справок</a>
                  </li>
                  <li class="navigation__dropdown-item">
                    <a class="navigation__dropdown-link" href="#">Социальная поддержка студентов</a>
                  </li>
                  <li class="navigation__dropdown-item">
                    <a class="navigation__dropdown-link" href="#">Общежития</a>
                  </li>
                  <li class="navigation__dropdown-item">
                    <a class="navigation__dropdown-link" href="#">Система поддержки профессиональной самореализации студентов</a>
                  </li>
                  <li class="navigation__dropdown-item">
                    <a class="navigation__dropdown-link" href="#">Творческое развитие</a>
                  </li>
                  <li class="navigation__dropdown-item">
                    <a class="navigation__dropdown-link" href="#">Спорт</a>
                  </li>
                  <li class="navigation__dropdown-item">
                    <a class="navigation__dropdown-link" href="#">Совет обучающихся</a>
                  </li>
                  <li class="navigation__dropdown-item">
                    <a class="navigation__dropdown-link" href="#">Воинский учет</a>
                  </li>
                  <li class="navigation__dropdown-item">
                    <a class="navigation__dropdown-link" href="#">Навигатор по университету</a>
                  </li>
                  <li class="navigation__dropdown-item">
                    <a class="navigation__dropdown-link" href="#">Безопасность университета</a>
                  </li>
                  <li class="navigation__dropdown-item">
                    <a class="navigation__dropdown-link" href="#">Молодежный журнал «Nota Bene! Обрати внимание»</a>
                  </li>
                  <li class="navigation__dropdown-item">
                    <a class="navigation__dropdown-link" href="#">Я-Профессионал</a>
                  </li>
                  <li class="navigation__dropdown-item">
                    <a class="navigation__dropdown-link" href="#">Расписание занятий</a>
                  </li>
                  <li class="navigation__dropdown-item">
                    <a class="navigation__dropdown-link" href="#">Расписание работы столовых</a>
                  </li>
                  <li class="navigation__dropdown-item">
                    <a class="navigation__dropdown-link" href="#">Оплата обучения</a>
                  </li>
                  <li class="navigation__dropdown-item">
                    <a class="navigation__dropdown-link" href="#">Зоны отдыха</a>
                  </li>
                  <li class="navigation__dropdown-item">
                    <a class="navigation__dropdown-link" href="#">Студенческие объединения</a>
                  </li>
                  <li class="navigation__dropdown-item">
                    <a class="navigation__dropdown-link" href="#">Всероссийская олимпиада (с международным участием) по сервису и туризму</a>
                  </li>
                  <li class="navigation__dropdown-item">
                    <a class="navigation__dropdown-link" href="#">Трудоустройство обучающихся и выпускников</a>
                  </li>
                  <li class="navigation__dropdown-item">
                    <a class="navigation__dropdown-link" href="#">Координация работы кураторов</a>
                  </li>
                  <li class="navigation__dropdown-item">
                    <a class="navigation__dropdown-link" href="#">Этический кодекс студентов СКФУ</a>
                  </li>
                  <li class="navigation__dropdown-item">
                    <a class="navigation__dropdown-link" href="#">Летний отдых студентов</a>
                  </li>
                  <li class="navigation__dropdown-item">
                    <a class="navigation__dropdown-link" href="#">Ассоциация выпускников СКФУ</a>
                  </li>
                  <li class="navigation__dropdown-item">
                    <a class="navigation__dropdown-link" href="#">Олимпиады</a>
                  </li>
                  <li class="navigation__dropdown-item">
                    <a class="navigation__dropdown-link" href="#">Часто задаваемые вопросы</a>
                  </li>
                </ul>
                </div>
                
              </li>
      
              <li class="navigation__item">
                <a class="navigation__link" href="#">Наука
                  <svg class="navigation__icon" width="24" height="22">
                    <use xlink:href="img/svg-sprite.svg#i-science"></use>
                  </svg>
                  <svg class="navigation__icon navigation__icon--right" width="24" height="22">
                    <use xlink:href="img/svg-sprite.svg#i-arrow"></use>
                  </svg>
                </a>
                <div class="navigation__dropdown navigation__dropdown--column-three navigation__dropdown--left">
                <ul class="navigation__dropdown-wrapper navigation__dropdown-wrapper--column-three">
                  <li class="navigation__dropdown-item">
                    <a class="navigation__dropdown-link" href="#">Новости</a>
                  </li>
                  <li class="navigation__dropdown-item">
                    <a class="navigation__dropdown-link" href="#">Подготовка кадров высшей квалификации</a>
                  </li>
                  <li class="navigation__dropdown-item">
                    <a class="navigation__dropdown-link" href="#">Управление подготовки и аттестации кадров высшей квалификации</a>
                  </li>
                  <li class="navigation__dropdown-item">
                    <a class="navigation__dropdown-link" href="#">Диссертационные советы</a>
                  </li>
                  <li class="navigation__dropdown-item">
                    <a class="navigation__dropdown-link" href="#">Научно-технический совет СКФУ</a>
                  </li>
                  <li class="navigation__dropdown-item">
                    <a class="navigation__dropdown-link" href="#">Научные направления</a>
                  </li>
                  <li class="navigation__dropdown-item">
                    <a class="navigation__dropdown-link" href="#">Научные мероприятия</a>
                  </li>
                  <li class="navigation__dropdown-item">
                    <a class="navigation__dropdown-link" href="#">Сборники материалов научных конференций</a>
                  </li>
                  <li class="navigation__dropdown-item">
                    <a class="navigation__dropdown-link" href="#">Конкурсы, гранты</a>
                  </li>
                  <li class="navigation__dropdown-item">
                    <a class="navigation__dropdown-link" href="#">Научно-исследовательская работа студентов</a>
                  </li>
                  <li class="navigation__dropdown-item">
                    <a class="navigation__dropdown-link" href="#">Отчеты о научно-исследовательской деятельности</a>
                  </li>
                  <li class="navigation__dropdown-item">
                    <a class="navigation__dropdown-link" href="#">Экспортный контроль</a>
                  </li>
                  <li class="navigation__dropdown-item">
                    <a class="navigation__dropdown-link" href="#">Я - учёный!</a>
                  </li>
                  <li class="navigation__dropdown-item">
                    <a class="navigation__dropdown-link" href="#">Департамент науки и технологий</a>
                  </li>
                  <li class="navigation__dropdown-item">
                    <a class="navigation__dropdown-link" href="#">Научная инфраструктура</a>
                  </li>
                  <li class="navigation__dropdown-item">
                    <a class="navigation__dropdown-link" href="#">Готовность дипломов кандидатов и докторов наук</a>
                  </li>
                  <li class="navigation__dropdown-item">
                    <a class="navigation__dropdown-link" href="#">Портал научных журналов</a>
                  </li>
                  <li class="navigation__dropdown-item">
                    <a class="navigation__dropdown-link" href="#">Наука и университеты</a>
                  </li>
                  <li class="navigation__dropdown-item">
                    <a class="navigation__dropdown-link" href="#">Публикационная активность</a>
                  </li>
                  <li class="navigation__dropdown-item">
                    <a class="navigation__dropdown-link" href="#">Реализация научных проектов</a>
                  </li>
                  <li class="navigation__dropdown-item">
                    <a class="navigation__dropdown-link" href="#">Научные школы</a>
                  </li>
                  <li class="navigation__dropdown-item">
                    <a class="navigation__dropdown-link" href="#">Обеспеченность программным обеспечением</a>
                  </li>
                  <li class="navigation__dropdown-item">
                    <a class="navigation__dropdown-link" href="#">Электронные образовательные ресурсы</a>
                  </li>
                  <li class="navigation__dropdown-item">
                    <a class="navigation__dropdown-link" href="#">Патенты и свидетельства СКФУ</a>
                  </li>
                  <li class="navigation__dropdown-item">
                    <a class="navigation__dropdown-link" href="#">Реализация государственного задания</a>
                  </li>
                </ul>
                </div>
              </li>
      
              <li class="navigation__item">
                <a class="navigation__link" href="#">Инновации
                  <svg class="navigation__icon" width="24" height="22">
                    <use xlink:href="img/svg-sprite.svg#i-innov"></use>
                  </svg>
                  <svg class="navigation__icon navigation__icon--right" width="24" height="22">
                    <use xlink:href="img/svg-sprite.svg#i-arrow"></use>
                  </svg>
                </a>
                <div class="navigation__dropdown navigation__dropdown--left">
                <ul class="navigation__dropdown-wrapper">
                  <li class="navigation__dropdown-item">
                    <a class="navigation__dropdown-link" href="#">Новости</a>
                  </li>
                  <li class="navigation__dropdown-item">
                    <a class="navigation__dropdown-link" href="#">Каталог наукоемких услуг и технологий</a>
                  </li>
                  <li class="navigation__dropdown-item">
                    <a class="navigation__dropdown-link" href="#">Нормативно-правовая база</a>
                  </li>
                  <li class="navigation__dropdown-item">
                    <a class="navigation__dropdown-link" href="#">Инновационная инфраструктура</a>
                  </li>
                  <li class="navigation__dropdown-item">
                    <a class="navigation__dropdown-link" href="#">Поддержка инновационных проектов</a>
                  </li>
                  <li class="navigation__dropdown-item">
                    <a class="navigation__dropdown-link" href="#">Форумно-выставочная деятельность</a>
                  </li>
                  <li class="navigation__dropdown-item">
                    <a class="navigation__dropdown-link" href="#">Программа трансформации СКФУ в университетский центр Ставропольского края</a>
                  </li>
                  <li class="navigation__dropdown-item">
                    <a class="navigation__dropdown-link" href="#">Центр трансфера технологий и экспортного контроля</a>
                  </li>
                  <li class="navigation__dropdown-item">
                    <a class="navigation__dropdown-link" href="#">Технологический парк СКФУ</a>
                  </li>
                </ul>
                </div>
              </li>
      
              <li class="navigation__item">
                <a class="navigation__link" href="#">Образование
                  <svg class="navigation__icon" width="24" height="22">
                    <use xlink:href="img/svg-sprite.svg#i-education"></use>
                  </svg>
                  <svg class="navigation__icon navigation__icon--right" width="24" height="22">
                    <use xlink:href="img/svg-sprite.svg#i-arrow"></use>
                  </svg>
                </a>
                <div class="navigation__dropdown navigation__dropdown--right">
                <ul class="navigation__dropdown-wrapper">
                  <li class="navigation__dropdown-item">
                    <a class="navigation__dropdown-link" href="#">Дополнительное профессиональное образование</a>
                  </li>
                  <li class="navigation__dropdown-item">
                    <a class="navigation__dropdown-link" href="#">Специализированный учебный научный центр</a>
                  </li>
                  <li class="navigation__dropdown-item">
                    <a class="navigation__dropdown-link" href="#">Колледж СКФУ в г. Ставрополе</a>
                  </li>
                  <li class="navigation__dropdown-item">
                    <a class="navigation__dropdown-link" href="#">Языковые программы</a>
                  </li>
                  <li class="navigation__dropdown-item">
                    <a class="navigation__dropdown-link" href="#">Система управления обучением СКФУ</a>
                  </li>
                  <li class="navigation__dropdown-item">
                    <a class="navigation__dropdown-link" href="#">Обеспеченность программным обеспечением</a>
                  </li>
                  <li class="navigation__dropdown-item">
                    <a class="navigation__dropdown-link" href="#">Чемпионаты профессионального мастерства</a>
                  </li>
                  <li class="navigation__dropdown-item">
                    <a class="navigation__dropdown-link" href="#">Олимпиады в СКФУ</a>
                  </li>
                  <li class="navigation__dropdown-item">
                    <a class="navigation__dropdown-link" href="#">Электронные научные и образовательные ресурсы</a>
                  </li>
                  <li class="navigation__dropdown-item">
                    <a class="navigation__dropdown-link" href="#">Инклюзивное образование в СКФУ</a>
                  </li>
                  <li class="navigation__dropdown-item">
                    <a class="navigation__dropdown-link" href="#">Документы, регламентирующие образовательную деятельность</a>
                  </li>
                  <li class="navigation__dropdown-item">
                    <a class="navigation__dropdown-link" href="#">Независимая оценка качества образования</a>
                  </li>
                </ul>
                </div>
              </li>

              <li class="navigation__item">
                <a class="navigation__link" href="#">Поступающему
                  <svg class="navigation__icon" width="24" height="22">
                    <use xlink:href="img/svg-sprite.svg#i-school"></use>
                  </svg>
                  <svg class="navigation__icon navigation__icon--right" width="24" height="22">
                    <use xlink:href="img/svg-sprite.svg#i-arrow"></use>
                  </svg>
                </a>
                <div class="navigation__dropdown navigation__dropdown--right">
                <ul class="navigation__dropdown-wrapper">
                  <li class="navigation__dropdown-item">
                    <a class="navigation__dropdown-link" href="#">Приёмная кампания-2024</a>
                  </li>
                  <li class="navigation__dropdown-item">
                    <a class="navigation__dropdown-link" href="#">Летняя школа в СКФУ</a>
                  </li>
                  <li class="navigation__dropdown-item">
                    <a class="navigation__dropdown-link" href="#">Анкета абитуриенту</a>
                  </li>
                  <li class="navigation__dropdown-item">
                    <a class="navigation__dropdown-link" href="#">Иностранным абитуриентам</a>
                  </li>
                  <li class="navigation__dropdown-item">
                    <a class="navigation__dropdown-link" href="#">Программы довузовской подготовки в СКФУ</a>
                  </li>
                  <li class="navigation__dropdown-item">
                    <a class="navigation__dropdown-link" href="#">Новости</a>
                  </li>
                  <li class="navigation__dropdown-item">
                    <a class="navigation__dropdown-link" href="#">День открытых дверей</a>
                  </li>
                  <li class="navigation__dropdown-item">
                    <a class="navigation__dropdown-link" href="#">Олимпиады для школьников</a>
                  </li>
                  <li class="navigation__dropdown-item">
                    <a class="navigation__dropdown-link" href="#">Стоимость обучения</a>
                  </li>
                  <li class="navigation__dropdown-item">
                    <a class="navigation__dropdown-link" href="#">Архив</a>
                  </li>
                </ul>
                </div>
              </li>

              <li class="navigation__item">
                <a class="navigation__link" href="#">Сотруднику
                  <svg class="navigation__icon" width="24" height="22">
                    <use xlink:href="img/svg-sprite.svg#i-work"></use>
                  </svg>
                  <svg class="navigation__icon navigation__icon--right" width="24" height="22">
                    <use xlink:href="img/svg-sprite.svg#i-arrow"></use>
                  </svg>
                </a>
                <div class="navigation__dropdown navigation__dropdown--right">
                <ul class="navigation__dropdown-wrapper">
                  <li class="navigation__dropdown-item">
                    <a class="navigation__dropdown-link" href="#">Персональные страницы сотрудников</a>
                  </li>
                  <li class="navigation__dropdown-item">
                    <a class="navigation__dropdown-link" href="#">Подразделения</a>
                  </li>
                  <li class="navigation__dropdown-item">
                    <a class="navigation__dropdown-link" href="#">Охрана труда</a>
                  </li>
                  <li class="navigation__dropdown-item">
                    <a class="navigation__dropdown-link" href="#">Положение об оплате труда</a>
                  </li>
                  <li class="navigation__dropdown-item">
                    <a class="navigation__dropdown-link" href="#">Эффективный контракт</a>
                  </li>
                  <li class="navigation__dropdown-item">
                    <a class="navigation__dropdown-link" href="#">Коллективный договор</a>
                  </li>
                  <li class="navigation__dropdown-item">
                    <a class="navigation__dropdown-link" href="#">Форма списка трудов</a>
                  </li>
                  <li class="navigation__dropdown-item">
                    <a class="navigation__dropdown-link" href="#">Локальные акты, регулирующие трудовые и гражданско-правовые отношения</a>
                  </li>
                  <li class="navigation__dropdown-item">
                    <a class="navigation__dropdown-link" href="#">Конкурс ППС</a>
                  </li>
                  <li class="navigation__dropdown-item">
                    <a class="navigation__dropdown-link" href="#">Конкурс научных работников</a>
                  </li>
                  <li class="navigation__dropdown-item">
                    <a class="navigation__dropdown-link" href="#">Первичная профсоюзная организация работников СКФУ</a>
                  </li>
                  <li class="navigation__dropdown-item">
                    <a class="navigation__dropdown-link" href="#">Работа в СКФУ</a>
                  </li>
                  <li class="navigation__dropdown-item">
                    <a class="navigation__dropdown-link" href="#">Запись на личный прием к ректору для сотрудников</a>
                  </li>
                </ul>
                </div>
              </li>

              <li class="navigation__item">
                <a class="navigation__link" href="#">Международная деятельность
                  <svg class="navigation__icon" width="24" height="22">
                    <use xlink:href="img/svg-sprite.svg#i-international"></use>
                  </svg>
                  <svg class="navigation__icon navigation__icon--right" width="24" height="22">
                    <use xlink:href="img/svg-sprite.svg#i-arrow"></use>
                  </svg>
                </a>
                <div class="navigation__dropdown navigation__dropdown--right">
                <ul class="navigation__dropdown-wrapper">
                  <li class="navigation__dropdown-item">
                    <a class="navigation__dropdown-link" href="#">Новости</a>
                  </li>
                  <li class="navigation__dropdown-item">
                    <a class="navigation__dropdown-link" href="#">Программы двух дипломов</a>
                  </li>
                  <li class="navigation__dropdown-item">
                    <a class="navigation__dropdown-link" href="#">Иностранным студентам</a>
                  </li>
                  <li class="navigation__dropdown-item">
                    <a class="navigation__dropdown-link" href="#">Иностранным абитуриентам</a>
                  </li>
                  <li class="navigation__dropdown-item">
                    <a class="navigation__dropdown-link" href="#">Международные партнеры</a>
                  </li>
                  <li class="navigation__dropdown-item">
                    <a class="navigation__dropdown-link" href="#">Европейское положение к диплому</a>
                  </li>
                  <li class="navigation__dropdown-item">
                    <a class="navigation__dropdown-link" href="#">Стипендии, конкурсы, гранты</a>
                  </li>
                  <li class="navigation__dropdown-item">
                    <a class="navigation__dropdown-link" href="#">Международные проекты и программы</a>
                  </li>
                  <li class="navigation__dropdown-item">
                    <a class="navigation__dropdown-link" href="#">Управление международного образования</a>
                  </li>
                  <li class="navigation__dropdown-item">
                    <a class="navigation__dropdown-link" href="#">Центр сопровождения международной деятельности</a>
                  </li>
                  <li class="navigation__dropdown-item">
                    <a class="navigation__dropdown-link" href="#">Центр развития сотрудничества со странами Южного Кавказа, Центральной Азии и Европы</a>
                  </li>
                  <li class="navigation__dropdown-item">
                    <a class="navigation__dropdown-link" href="#">Центр развития сотрудничества со странами Ближнего Востока и Африки</a>
                  </li>
                </ul>
                </div>
              </li>
      
      
            </ul>
          </nav>
        </div>
      
      </section>
      </div>
      </div>