.accordion {
  width: 100%;
  margin-bottom: 0;
  background-color: transparent;
  border: none;
  outline: none;
  text-align: left;
  padding: 0 0 0.5rem 0;
  transition: margin-bottom 0.1s ease, border-bottom 0.25s 0.1s ease;
  border-bottom: 1px solid #ebebeb14;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);

  @media (min-width: $tablet-size-land) {
    pointer-events: none;
    border-bottom: none;
    padding: 0;
    margin-bottom: 1.5rem;
  }

  &:after {
    content: "\002B";
    color: $color-grey;
    float: right;
    margin-left: 5px;
    font-size: 2rem;
    font-weight: 400;

    @media (min-width: $tablet-size-land) {
      display: none;
    }
  }

  &.active {
    margin-bottom: 0.5rem;
    border-bottom: none;

    &:after {
      content: "\2212";
    }
  }

  &__content {
    display: flex;
    flex-flow: row nowrap;
    background-color: transparent;
    max-height: 0;
    height: 100%;
    overflow: hidden;
    transition: max-height 0.1s ease-out, padding-top 0.1s ease-out;
    border-bottom: 1px solid #ebebeb14;

    @media (min-width: $tablet-size-land) {
      flex-flow: column wrap;
      justify-content: space-between;
      max-height: 100%;
      overflow: visible;
      height: calc(100% - 50px);
      border-bottom: none;
    }
  }
}
