.dropdown {
  width: max-content;
  position: relative;
  margin-bottom: 1rem;
  @media (min-width: $tablet-size-land) {
    margin-bottom: 0;
  }

  &__button {
    display: flex;
    align-items: center;
    width: 32px;
    height: 32px;
    padding: 0;
    border-radius: 0.5rem;
    transition: 0.15s;
    font-size: 16px;
    font-weight: 500;
    background-color: transparent;
    border: none;
    outline: none;
    background-repeat: no-repeat;
    padding: 0 0 0 2.5rem;
    background-position: center left;
    background-size: 32px;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);

    @media (min-width: $mobile-size-land) {
      padding: 0 2.5rem 0 0;
      background-position: center right;
    }

    @media (min-width: $tablet-size-land) {
      font-weight: 400;
      padding: 0;
      margin-right: 0.5rem;
      filter: grayscale(200%) saturate(0);

      &:hover {
        filter: grayscale(0);
      }
    }

    &.open {
      color: $color-accent;
      filter: grayscale(0);
    }

    &--geo {
      width: max-content;
      background-image: url("../img/icons/geo.svg");

      @media (min-width: $tablet-size-land) {
        padding: 0 0 0 2.5rem;
        background-position: center left;
      }

      & > svg:first-child {
        margin-right: 0.5rem;
      }
      & > svg:last-child {
        margin-left: 0.5rem;
        transition: 0.2s;
      }
    }

    &--lang {
      width: max-content;
      justify-content: center;
      background-image: url("../img/icons/lang.svg");

      @media (min-width: $tablet-size-land) {
        width: 32px;
        height: 32px;
      }
      & > span {
        display: block;

        @media (min-width: $tablet-size-land) {
          display: none;
        }
      }
    }
  }

  &__icon.rotate {
    transform: rotate(180deg);
  }
  &__content {
    position: absolute;
    left: 0;
    top: 36px;
    display: flex;
    flex-flow: column wrap;
    background-color: $color-white;
    box-shadow: $shadow-small-dark;
    padding: 0.5rem;
    border-radius: 0.5rem;
    opacity: 0;
    z-index: -1;
    transition: 0.15s;
    transform: translateY(-20px);

    @media (min-width: $mobile-size-land) {
      top: 38px;
    }

    &.active {
      opacity: 1;
      z-index: 100;
      transform: translateY(0);
    }

    &--right {
      @media (min-width: $mobile-size-land) {
        right: 0.5rem;
        left: auto;
      }
    }
  }

  &__link {
    min-width: 100%;
    font-size: 15px;
    color: $black-color;
    width: max-content;
    transition: 0.25s;
    padding: 0.5rem 0.75rem;
    border-radius: 0.5rem;

    & > strong {
      font-weight: 400;
      color: $color-black;
    }

    &:hover {
      text-decoration: none;
      color: $color-accent;
      background-color: $color-hover;
    }

    &:active,
    &:focus {
      text-decoration: none;
      color: $color-grey;
    }
  }
}
