.footer-contacts {
  display: flex;
  flex-flow: column nowrap;

  &__item {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;

    &:not(:last-child) {
      margin-bottom: 0.75rem;
    }
  }

  &__icon {
    width: 32px;
    height: 32px;
    margin-right: 0.5rem;
  }

  &__title {
    display: flex;
    flex-flow: column wrap;
    color: $color-white;
    font-size: 15px;
    font-weight: 600;
    margin-bottom: 0;
    line-height: 15px;
  }

  &__address {
    color: $color-grey;
    font-size: 13px;
    font-weight: 600;
    padding-top: 2px;
  }

  &__tel {
    font-size: 13px;
    font-weight: 600;
    color: $color-tel-main;
    padding-top: 2px;
    transition: color ease 0.1s;

    &:hover {
      text-decoration: none;
      color: #00aca4;
    }
    &:active,
    &:focus {
      text-decoration: none;
      color: #00aca4;
      opacity: 0.6;
    }
    &--light {
      color: $color-tel;

      transition: color ease 0.1s;

      &:hover {
        text-decoration: none;
        color: #53fff5;
      }
      &:active,
      &:focus {
        text-decoration: none;
        color: #53fff5;
        opacity: 0.6;
      }
    }
  }

  &__link {
    font-size: 14px;
    color: #99a3cc;
    font-weight: 500;
    line-height: 16px;
    width: calc(100% - 40px);

    transition: color ease 0.1s;

    &:hover {
      text-decoration: none;
      color: #6d88ff;
    }
    &:active,
    &:focus {
      text-decoration: none;
      color: #6d88ff;
      opacity: 0.6;
    }
  }
}
