.modal-search {
  position: fixed;
  top: 25%;
  left: 0;
  width: 100%;
  background-color: $color-white;
  box-shadow: $shadow-small-white;
  border-radius: 0.5rem;
  transform: translateY(20px);
  opacity: 0;
  z-index: -1;
  transition: z-index 0.3s, opacity linear 0.25s, transform 0.25s;

  @media (min-width: $mobile-size-land) {
    top: 25%;
    left: calc(50% - 250px);
    width: 500px;
  }

  &.active {
    z-index: 201;
    transform: translateY(0);
    opacity: 1;
    transition: z-index 0.2s 0.1s, opacity linear 0.25s 0.2s,
      transform 0.25s 0.2s;
  }

  &__content {
    width: 100%;
    height: 100%;
    padding: 2.5rem 1rem;

    @media (min-width: $mobile-size-land) {
      padding: 2.5rem 2rem;
    }
  }

  &__form {
    width: 100%;
    height: 100%;
  }

  &__container {
    display: flex;
    justify-content: space-between;
    height: 40px;
    border-radius: 0.5rem;
    margin-bottom: 1rem;
    @media (min-width: $mobile-size-land) {
      height: 44px;
    }
  }

  &__input,
  &__btn {
    border: none;
    outline: none;
    box-sizing: border-box;
    background-color: transparent;
    padding: 0;
  }
  &__input {
    flex: 0 0 85%;
    width: 100%;
    border-radius: 0.5rem;
    background-color: $color-hover;
    font-size: 15px;
    color: $color-black;
    font-weight: 500;
    padding: 0.25rem 0.5rem;
    transition: box-shadow 0.15s;

    &:focus {
      box-shadow: $shadow-small-hover;
      border: 1px solid #e2e5f2;
    }

    @media (min-width: $mobile-size-land) {
      flex: 0 0 87%;
      width: 100%;
      font-size: 16px;
      padding: 0.75rem 1rem;
    }
  }

  &__btn {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 40px;
    width: 40px;
    border-radius: 0.5rem;
    background-color: $color-accent;

    @media (min-width: $mobile-size-land) {
      height: 43px;
      width: 43px;
    }

    & > svg {
      filter: grayscale(100%) invert(100%) contrast(200%);
    }
  }

  &__text {
    font-size: 15px;
    color: $color-grey;
    font-weight: 400;
    margin-bottom: 1rem;
    @media (min-width: $mobile-size-land) {
      font-size: 16px;
    }
  }

  &__button {
    position: absolute;
    top: 0.5rem;
    right: 1rem;
    width: 22px;
    height: 22px;
    background-color: initial;
    border-radius: 4px;
    border: none;
    transition: background-color 0.3s;
    &:active,
    &:focus {
      opacity: 0.6;
    }

    &::after,
    &::before {
      display: block;
      position: absolute;
      top: 3px;
      right: 10px;
      content: '';
      width: 2px;
      height: 16px;
      border-radius: 3px;
      background-color: #d1d9ff;
    }

    &::after {
      transform: rotate(45deg);
    }
    &::before {
      transform: rotate(-45deg);
    }
    @media (min-width: $mobile-size-land) {
      right: 2rem;
      &:hover {
        background-color: $color-hover;
      }
    }
  }
}
