.top {
  margin: 67px 0 0.5rem 0;
  padding: 0;

  @media (min-width: $mobile-size-land) {
    margin: 84px 0 1rem 0;
  }
  @media (min-width: $tablet-size-land) {
    margin: 0.5rem 0;
  }
  &__navigation {
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-between;
    background-color: $color-white;
    border-top: 1px solid $color-border;
    border-radius: 0 0 0.5rem 0.5rem;
    padding: 1rem;

    @media (min-width: $mobile-size-land) {
      flex-flow: row wrap;
      box-shadow: $shadow-small-white;
      border-radius: 0.5rem;
      border-top: none;
    }

    @media (min-width: $tablet-size-land) {
      align-items: center;
      border-radius: 0;
      box-shadow: none;
      background-color: inherit;
      padding: 0;
    }
  }

  &__list {
    display: flex;
    flex-flow: column wrap;
    @media (min-width: $tablet-size-land) {
      flex-flow: row nowrap;
    }
  }

  &__link {
    display: flex;
    align-items: center;
    color: $color-black;
    font-weight: 500;
    transition: 0.25s;
    font-size: 16px;
    padding: 0;
    transition: opacity ease-in 0.15s, color ease-in 0.15s;
    margin-bottom: 1rem;

    @media (min-width: $mobile-size-land) {
      margin-bottom: 0;
      &:not(:last-child) {
        margin-bottom: 1rem;
      }
    }

    @media (min-width: $tablet-size-land) {
      &:not(:last-child) {
        margin-bottom: 0;
      }
    }

    &:active,
    &:focus {
      background-color: initial;
      text-decoration: none;
      color: $color-accent;
      opacity: 0.6;
    }
    @media (min-width: $mobile-size-land) {
      &:not(:last-child) {
        margin-right: 1rem;
      }
    }
    @media (min-width: $tablet-size-land) {
      color: $color-grey;

      font-weight: 400;
      &:not(:last-child) {
        margin-bottom: 0;
      }
    }
    & > strong {
      color: $color-accent;
      font-weight: 400;
      padding-left: 0.5rem;
      @media (min-width: $tablet-size-land) {
        color: $color-black;
      }
    }

    &:hover {
      background-color: initial;
      text-decoration: none;
      color: $color-accent;
    }
  }

  &__link-icon {
    display: block;
    margin-right: 0.5rem;
    @media (min-width: $tablet-size-land) {
      display: none;
    }
  }

  &__options {
    display: flex;
    flex-flow: column wrap;
    @media (min-width: $mobile-size-land) {
      align-items: flex-end;
    }
    @media (min-width: $tablet-size-land) {
      flex-flow: row nowrap;
      align-items: flex-start;
    }
  }
  &__options-item {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 0.5rem;
    margin-right: 0.5rem;
    transition: 0.25s;
    background-color: initial;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    width: 32px;
    height: 32px;

    @media (min-width: $mobile-size-land) {
      background-color: $color-white;
    }

    @media (min-width: $tablet-size-land) {
      background-color: initial;
      filter: grayscale(100%);
      &:hover {
        filter: grayscale(0);
        color: $color-accent;
      }
    }

    &--blind {
      display: none;
      @media (min-width: $tablet-size-land) {
        display: flex;
      }
    }
  }

  &__search {
    width: max-content;
    outline: none;
    border: none;
    margin-right: 0rem;
    background-image: url("../img/icons/search.svg");
    background-position: center left;
    background-size: 32px;
    padding: 0 0 0 2.5rem;
    background-repeat: no-repeat;
    font-weight: 500;
    @media (min-width: $mobile-size-land) {
      padding: 0 2.5rem 0 0;
      background-position: center right;
    }
    @media (min-width: $tablet-size-land) {
      width: 32px;
      height: 32px;
      padding: 0;
    }

    & > span {
      display: block;

      @media (min-width: $tablet-size-land) {
        display: none;
      }
    }

    &:active,
    &:focus {
      color: $color-accent;
      opacity: 0.6;
    }
  }
}
