<section class="abit">
  <div class="container site-section wow fadeIn">
    <h2 class="title">Абитуриенту</h2>

    <div class="abit__grid">
      <div class="abit__grid-photo-container">
        <div
          class="slider slider--abit swiper js-slider-sm wow fadeIn"
          data-wow-duration="1s"
        >
          <div class="swiper-wrapper">
            <div class="swiper-slide">
              <a
                class="card-image"
                href="https://www.ncfu.ru/abitur/Priemnaya-kampaniya-2023/SUNC-2023/"
              >
                <img
                  class="card-image__image"
                  loading="lazy"
                  src="img/sm-sl1.jpg"
                  alt="Подпись к фотографии"
                />
                <div class="card-image__info">
                  <p class="card-image__title">
                    Специализированный учебный научный центр
                  </p>
                  <p class="card-image__detail">
                    Занимайся наукой и технологиями!
                  </p>
                </div>
                <p class="card-image__link">
                  Подробнее
                  <span class="card-image__link-icon">&#187;</span>
                </p>
              </a>
            </div>

            <div class="swiper-slide">
              <a
                class="card-image"
                href="https://www.ncfu.ru/abitur/Priemnaya-kampaniya-2023/Srednee-professional_noe-obrazovanie/"
              >
                <img
                  class="card-image__image"
                  loading="lazy"
                  src="img/sm-sl2.jpg"
                  alt="Подпись к фотографии"
                />
                <div class="card-image__info">
                  <p class="card-image__title">
                    Среднее профессиональное образование
                  </p>
                  <p class="card-image__detail">
                    Получи востребованную профессию!
                  </p>
                </div>
                <p class="card-image__link">
                  Подробнее
                  <span class="card-image__link-icon">&#187;</span>
                </p>
              </a>
            </div>

            <div class="swiper-slide">
              <a
                class="card-image"
                href="https://www.ncfu.ru/international-activity/inostrannym-studentam/"
              >
                <img
                  class="card-image__image"
                  loading="lazy"
                  src="img/sm-sl3.jpg"
                  alt="Подпись к фотографии"
                />
                <div class="card-image__info">
                  <p class="card-image__title">Иностранным обучающимся</p>
                  <p class="card-image__detail">
                    Доступно обучение на иностранных языках!
                  </p>
                </div>
                <p class="card-image__link">
                  Подробнее
                  <span class="card-image__link-icon">&#187;</span>
                </p>
              </a>
            </div>

            <div class="swiper-slide">
              <a
                class="card-image"
                href="https://www.ncfu.ru/abitur/Priemnaya-kampaniya-2023/Ordinatura-2023/"
              >
                <img
                  class="card-image__image"
                  loading="lazy"
                  src="img/sm-sl4.jpg"
                  alt="Подпись к фотографии"
                />
                <div class="card-image__info">
                  <p class="card-image__title">Ординатура</p>
                  <p class="card-image__detail">Учись больше!</p>
                </div>
                <p class="card-image__link">
                  Подробнее
                  <span class="card-image__link-icon">&#187;</span>
                </p>
              </a>
            </div>

            <div class="swiper-slide">
              <a
                class="card-image"
                href="https://www.ncfu.ru/abitur/arhiv/priemnaya-kampaniya-2022/Celevoe-obuchenie-2022/#"
              >
                <img
                  class="card-image__image"
                  loading="lazy"
                  src="img/sm-sl5.jpg"
                  alt="Подпись к фотографии"
                />
                <div class="card-image__info">
                  <p class="card-image__title">Целевое обучение</p>
                  <p class="card-image__detail">
                    Обучайся по заявке от работодателя!
                  </p>
                </div>
                <p class="card-image__link">
                  Подробнее
                  <span class="card-image__link-icon">&#187;</span>
                </p>
              </a>
            </div>

            <div class="swiper-slide">
              <a
                class="card-image"
                href="https://www.ncfu.ru/abitur/arhiv/priemnaya-kampaniya-2022/Abiturientu-s-OVZ-i-invalidnost_u/"
              >
                <img
                  class="card-image__image"
                  loading="lazy"
                  src="img/sm-sl6.jpg"
                  alt="Подпись к фотографии"
                />
                <div class="card-image__info">
                  <p class="card-image__title">
                    Абитуриенту с ОВЗ и инвалидностью
                  </p>
                  <p class="card-image__detail">
                    Создаём равные условия для всех абитуриентов!
                  </p>
                </div>
                <p class="card-image__link">
                  Подробнее
                  <span class="card-image__link-icon">&#187;</span>
                </p>
              </a>
            </div>

            <div class="swiper-slide">
              <a
                class="card-image"
                href="https://www.ncfu.ru/abitur/arhiv/priemnaya-kampaniya-2022/voennyj-uchebnyj-centr-skfu-voennaya-kafedra/#cE"
              >
                <img
                  class="card-image__image"
                  loading="lazy"
                  src="img/sm-sl7.jpg"
                  alt="Подпись к фотографии"
                />
                <div class="card-image__info">
                  <p class="card-image__title">Военный учебный центр</p>
                  <p class="card-image__detail">
                    Получай военную специальность во время обучения в вузе!
                  </p>
                </div>
                <p class="card-image__link">
                  Подробнее
                  <span class="card-image__link-icon">&#187;</span>
                </p>
              </a>
            </div>
          </div>

          <div class="swiper-button-next slider__next-btn js-slider-sm-next">
            <img src="img/icons/arrow-right.png" alt="" />
          </div>
          <div class="swiper-button-prev slider__prev-btn js-slider-sm-prev">
            <img src="img/icons/arrow-left.png" alt="" />
          </div>
        </div>

        <script>
          document.addEventListener("DOMContentLoaded", function () {
            const swiper = new Swiper(".js-slider-sm", {
              autoplay: {
                delay: 5000,
              },
              navigation: {
                nextEl: ".js-slider-sm-next",
                prevEl: ".js-slider-sm-prev",
              },
            });
          });
        </script>
      </div>
      <div class="abit__grid-icons-container">
        <a class="card-icon" href="#">
          <img class="card-icon__icon-image" src="img/home.png" alt="" />
          <p class="card-icon__text">Приёмная кампания 2024</p>
        </a>

        <a class="card-icon" href="#">
          <img class="card-icon__icon-image" src="img/heart.png" alt="" />
          <p class="card-icon__text">Задать вопрос о поступлении</p>
        </a>

        <a class="card-icon" href="#">
          <img class="card-icon__icon-image" src="img/calendar.png" alt="" />
          <p class="card-icon__text">График открытых дней</p>
        </a>

        <a class="card-icon" href="#">
          <img class="card-icon__icon-image" src="img/hat.png" alt="" />
          <p class="card-icon__text">Бакалавриат, cпециалитет</p>
        </a>

        <a class="card-icon" href="#">
          <img class="card-icon__icon-image" src="img/case.png" alt="" />
          <p class="card-icon__text">Магистратура</p>
        </a>

        <a class="card-icon" href="#">
          <img class="card-icon__icon-image" src="img/asp.png" alt="" />
          <p class="card-icon__text">Аспирантура</p>
        </a>
      </div>
    </div>
  </div>
</section>
