<section class="features-icon">
  <div class="container">
    <div class="features-icon__row">
      <a href="#" class="features-icon__link">
        <img
          class="features-icon__image"
          width="100"
          height="100"
          src="img/stud.png"
          alt="Иконка"
        />
        <p class="features-icon__label">Сайт для школьников и их родителей</p>
      </a>

      <a href="#" class="features-icon__link">
        <img
          class="features-icon__image"
          width="100"
          height="100"
          src="img/uni.png"
          alt="Иконка"
        />
        <p class="features-icon__label">
          Доп образование и повышение квалификации
        </p>
      </a>

      <a href="#" class="features-icon__link">
        <img
          class="features-icon__image"
          width="100"
          height="100"
          src="img/sunc.png"
          alt="Иконка"
        />
        <p class="features-icon__label">
          Специализированный учебный научный центр
        </p>
      </a>

      <a href="#" class="features-icon__link">
        <img
          class="features-icon__image"
          width="100"
          height="100"
          src="img/consorc.png"
          alt="Иконка"
        />
        <p class="features-icon__label">Консорциум вузов Северного Кавказа</p>
      </a>

      <a href="#" class="features-icon__link">
        <img
          class="features-icon__image"
          width="100"
          height="100"
          src="img/pps.png"
          alt="Иконка"
        />
        <p class="features-icon__label">Консорциум вузов Северного Кавказа</p>
      </a>

      <a href="#" class="features-icon__link">
        <img
          class="features-icon__image"
          width="100"
          height="100"
          src="img/ecampus.png"
          alt="Иконка"
        />
        <p class="features-icon__label">еКампус</p>
      </a>

      <a href="#" class="features-icon__link">
        <img
          class="features-icon__image"
          width="100"
          height="100"
          src="img/map.png"
          alt="Иконка"
        />
        <p class="features-icon__label">Интерактивная карта корпусов</p>
      </a>

      <a href="#" class="features-icon__link">
        <img
          class="features-icon__image"
          width="100"
          height="100"
          src="img/office.png"
          alt="Иконка"
        />
        <p class="features-icon__label">Студенческий офис</p>
      </a>

      <a href="#" class="features-icon__link">
        <img
          class="features-icon__image"
          width="100"
          height="100"
          src="img/protect.png"
          alt="Иконка"
        />
        <p class="features-icon__label">Безопасность университета</p>
      </a>

      <a href="#" class="features-icon__link">
        <img
          class="features-icon__image"
          width="100"
          height="100"
          src="img/users.png"
          alt="Иконка"
        />
        <p class="features-icon__label">Военный учебный центр</p>
      </a>
    </div>
  </div>
</section>
