<footer class="footer page__footer">
  <div class="container">
    <div class="footer__flex">
      <div class="footer__top">
        <div class="footer__col">
          <h3 class="footer__title">Контакты</h3>
          <div class="footer-contacts">
            <div class="footer-contacts__item">
              <svg class="footer-contacts__icon" width="32" height="32">
                <use xlink:href="img/svg-sprite.svg#i-geo-f"></use>
              </svg>
              <p class="footer-contacts__title">
                г. Ставрополь
                <span class="footer-contacts__address"
                  >355017, ул. Пушкина, 1</span
                >
              </p>
            </div>
            <div class="footer-contacts__item">
              <svg class="footer-contacts__icon" width="32" height="32">
                <use xlink:href="img/svg-sprite.svg#i-phone-f"></use>
              </svg>
              <p class="footer-contacts__title">
                Телефон
                <a class="footer-contacts__tel" href="tel:+78652956808">
                  8 (8652) 95-68-08
                </a>
              </p>
            </div>
            <div class="footer-contacts__item">
              <svg class="footer-contacts__icon" width="32" height="32">
                <use xlink:href="img/svg-sprite.svg#i-phone-f"></use>
              </svg>
              <p class="footer-contacts__title">
                Факс
                <a class="footer-contacts__tel" href="tel:+78652956803">
                  8 (8652) 95-68-03
                </a>
              </p>
            </div>
          </div>
          <img class="footer__logo" src="img/logo-white.svg" />
        </div>
        <div class="footer__col">
          <h3 class="footer__title">Полезные ссылки</h3>
          <div class="footer-contacts">
            <div class="footer-contacts__item">
              <svg class="footer-contacts__icon" width="32" height="32">
                <use xlink:href="img/svg-sprite.svg#i-link-f"></use>
              </svg>
              <a href="#" class="footer-contacts__link">
                Министерство науки и высшего образования Российской Федерации
              </a>
            </div>
            <div class="footer-contacts__item">
              <svg class="footer-contacts__icon" width="32" height="32">
                <use xlink:href="img/svg-sprite.svg#i-link-f"></use>
              </svg>
              <a href="#" class="footer-contacts__link">
                Министерство просвещения Российской Федерации
              </a>
            </div>
            <div class="footer-contacts__item">
              <svg class="footer-contacts__icon" width="32" height="32">
                <use xlink:href="img/svg-sprite.svg#i-link-f"></use>
              </svg>
              <a href="#" class="footer-contacts__link"
                >Филиал в г.Пятигорске</a
              >
            </div>
            <div class="footer-contacts__item">
              <svg class="footer-contacts__icon" width="32" height="32">
                <use xlink:href="img/svg-sprite.svg#i-link-f"></use>
              </svg>
              <a href="#" class="footer-contacts__link"
                >Филиал в г.Невинномысске</a
              >
            </div>
            <div class="footer-contacts__item">
              <svg class="footer-contacts__icon" width="32" height="32">
                <use xlink:href="img/svg-sprite.svg#i-link-f"></use>
              </svg>
              <a href="#" class="footer-contacts__link">Сведения о доходах</a>
            </div>
            <div class="footer-contacts__item">
              <svg class="footer-contacts__icon" width="32" height="32">
                <use xlink:href="img/svg-sprite.svg#i-link-f"></use>
              </svg>
              <a href="#" class="footer-contacts__link">
                Отправить обращение в организацию
              </a>
            </div>
            <div class="footer-contacts__item">
              <svg class="footer-contacts__icon" width="32" height="32">
                <use xlink:href="img/svg-sprite.svg#i-link-f"></use>
              </svg>
              <a href="#" class="footer-contacts__link"
                >Противодействие коррупции</a
              >
            </div>
          </div>
        </div>
        <div class="footer__col">
          <h3 class="footer__title">Полезные контакты</h3>
          <div class="footer-contacts">
            <div class="footer-contacts__item">
              <svg class="footer-contacts__icon" width="32" height="32">
                <use xlink:href="img/svg-sprite.svg#i-phone-f"></use>
              </svg>
              <p class="footer-contacts__title">
                Приемная комиссия
                <a
                  class="footer-contacts__tel footer-contacts__tel--light"
                  href="tel:+78652956813"
                >
                  8 (8652) 95-68-13
                </a>
              </p>
            </div>
            <div class="footer-contacts__item">
              <svg class="footer-contacts__icon" width="32" height="32">
                <use xlink:href="img/svg-sprite.svg#i-geo-f"></use>
              </svg>
              <p class="footer-contacts__title">
                Приемная комиссия
                <span class="footer-contacts__address"
                  >г. Ставрополь, 355017, пр. Ленина 3А, корпус 6</span
                >
              </p>
            </div>
            <div class="footer-contacts__item">
              <svg class="footer-contacts__icon" width="32" height="32">
                <use xlink:href="img/svg-sprite.svg#i-phone-f"></use>
              </svg>
              <p class="footer-contacts__title">
                Студенческий офис
                <a
                  class="footer-contacts__tel footer-contacts__tel--light"
                  href="tel:+78652330299"
                >
                  8 (8652) 33-02-99
                </a>
              </p>
            </div>
            <div class="footer-contacts__item">
              <svg class="footer-contacts__icon" width="32" height="32">
                <use xlink:href="img/svg-sprite.svg#i-phone-f"></use>
              </svg>
              <p class="footer-contacts__title">
                Студенческий офис
                <a
                  class="footer-contacts__tel footer-contacts__tel--light"
                  href="tel:+78652330734"
                >
                  8 (8652) 33-07-34
                </a>
              </p>
            </div>
            <div class="footer-contacts__item">
              <svg class="footer-contacts__icon" width="32" height="32">
                <use xlink:href="img/svg-sprite.svg#i-phone-f"></use>
              </svg>
              <p class="footer-contacts__title">
                Контакт-центр
                <a
                  class="footer-contacts__tel footer-contacts__tel--light"
                  href="tel:+78002006476"
                >
                  8-800-200-64-76
                </a>
              </p>
            </div>
            <div class="footer-contacts__item">
              <svg class="footer-contacts__icon" width="32" height="32">
                <use xlink:href="img/svg-sprite.svg#i-phone-f"></use>
              </svg>
              <p class="footer-contacts__title">
                Горячая линия психологической помощи
                <a
                  class="footer-contacts__tel footer-contacts__tel--light"
                  href="tel:+78002006476"
                >
                  8-800-200-64-76 (доб. 3)
                </a>
              </p>
            </div>
          </div>
        </div>
      </div>
      <div class="footer__bottom">
        <div class="footer__name">
          <p class="footer__university">
            ФГАОУ ВО «Северо-Кавказский федеральный университет»
          </p>
          <p>
            Официальной информацией о СКФУ могут считаться только материалы,
            размещённые на сайте ncfu.ru или на сайтах третьего уровня доменной
            зоны ncfu.ru. За сведения, размещённые на внешних ресурсах, СКФУ
            ответственности не несёт.
          </p>

          <div class="detail">
            <button class="detail__btn js-detail-btn">
              Свидетельство СМИ <span class="detail__icon">&#187;</span>
            </button>
            <p class="detail__text detail__text_hidden">
              Выписка из реестра зарегистрированных СМИ серия ЭЛ № ФС 77 – 83810
              выдано 19.08.2022 г. Федеральной службы по надзору в сфере связи,
              информационных технологий и массовых коммуникаций (Роскомнадзор)
              Учредитель средства массовой информации: ФГАОУ ВО
              Северо-Кавказский федеральный университет<br />
              Главный редактор СМИ Сетевое издание: «Новости СКФУ»: М.Г.
              Тизенгаузен<br />
              Адрес электронной почты, номер телефона редакции: press@ncfu.ru
              +7(8652)33-07-38
            </p>
          </div>
        </div>
        <div class="footer__social">
          <a href="#">
            <svg width="32" height="32">
              <use
                xlink:href="img/svg-sprite-social.svg#icon-vk-new"
              ></use></svg
          ></a>
          <a href="#">
            <svg width="32" height="32">
              <use
                xlink:href="img/svg-sprite-social.svg#icon-tg-new"
              ></use></svg
          ></a>
          <a href="#">
            <svg width="32" height="32">
              <use
                xlink:href="img/svg-sprite-social.svg#icon-odnoklassniki-new"
              ></use></svg
          ></a>
          <a href="#">
            <svg width="32" height="32">
              <use
                xlink:href="img/svg-sprite-social.svg#icon-dzen-new"
              ></use></svg
          ></a>
          <a href="#">
            <svg width="32" height="32">
              <use
                xlink:href="img/svg-sprite-social.svg#icon-rutube-new"
              ></use></svg
          ></a>
          <a href="#">
            <svg width="32" height="32">
              <use
                xlink:href="img/svg-sprite-social.svg#icon-youtube-new"
              ></use></svg
          ></a>
        </div>
      </div>
    </div>
  </div>
</footer>

<div class="cookie-notice cookie-notice_hidden js-cookie-notice">
  <p class="m-0 p-0">
    На нашем сайте используются cookie-файлы и другие аналогичные технологии.
    Если, прочитав это сообщение, вы остаётесь на нашем сайте, это означает, что
    вы не возражаете против использования этих технологий.
  </p>
  <button class="button button_type_outline js-btn-accept">Принять</button>
</div>
<script>
  document.addEventListener("DOMContentLoaded", function (event) {
    const detailBtnEl = document.querySelector(".js-detail-btn");
    detailBtnEl.addEventListener("click", function () {
      detailBtnEl.nextElementSibling.classList.toggle("detail__text_hidden");
    });
  });
</script>
