<section class="page__news-background">
  <div class="container">
    <div class="news">
      <h2 class="title">Новости</h2>
      <div class="news__grid">
        <a class="news__item" href="news-item.html">
          <div class="news__image-wrapper">
            <img
              loading="lazy"
              class="news__image"
              width="310"
              height="207"
              src="img/news1.jpg"
              alt="Объявлен открытый конкурс на создание лучшего логотипа СКФУ"
            />
            <p class="news__date">18 января 2023 г.</p>
          </div>

          <h2 class="news__title">
            В России продолжается реализация программы «Пушкинская карта»
          </h2>
          <p class="news__text">
            Продолжается реализация программы «Пушкинская карта». По ней
            студенты могут потратить 5 тысяч рублей на посещение учреждений
            культуры. Участниками программы могут стать молодые люди от 14 до 22
            лет.
          </p>
        </a>
        <a class="news__item" href="news-item.html">
          <div class="news__image-wrapper">
            <img
              loading="lazy"
              class="news__image"
              width="310"
              height="207"
              src="img/news2.jpg"
              alt="Объявлен открытый конкурс на создание лучшего логотипа СКФУ"
            />
            <p class="news__date">28 Декабря 2023</p>
          </div>

          <h2 class="news__title">
            Представители СКФУ помогут в развитии нового Центра гуманитарной
            помощи «Преображение»
          </h2>
          <p class="news__text">
            Студентки Северо-Кавказского федерального университета кафедры
            рекламы и связей с общественностью посетили открытие нового Центра
            гуманитарной помощи «Преображение».
          </p>
        </a>
        <a class="news__item" href="news-item.html">
          <div class="news__image-wrapper">
            <img
              loading="lazy"
              class="news__image"
              width="310"
              height="207"
              src="img/news3.jpg"
              alt="Объявлен открытый конкурс на создание лучшего логотипа СКФУ"
            />
            <p class="news__date">11 Ноября 2023</p>
          </div>

          <h2 class="news__title">Будущих докторов наук готовят в СУНЦ СКФУ</h2>
          <p class="news__text">
            Специализированный учебный научный центр Северо-Кавказского
            федерального университета вошел в топ лучших образовательных
            организаций по подготовке будущих математиков.
          </p>
        </a>
        <a class="news__item" href="news-item.html">
          <div class="news__image-wrapper">
            <img
              loading="lazy"
              class="news__image"
              width="310"
              height="207"
              src="img/news4.jpg"
              alt="Объявлен открытый конкурс на создание лучшего логотипа СКФУ"
            />
            <p class="news__date">18 января 2023 г.</p>
          </div>

          <h2 class="news__title">
            Ректор СКФУ вошел в ТОП-5 руководителей университетов России по
            упоминаемости в СМИ
          </h2>
          <p class="news__text">
            Телеграм-канал «Научно-образовательная политика» опубликовал данные
            о медиаактивности за декабрь 2022 года. Согласно рейтингу, по
            количеству публикаций с упоминанием своего имени ректор СКФУ Дмитрий
            Беспалов занял пятое место, обойдя многих руководителей крупных
            российских вузов.
          </p>
        </a>
        <a class="news__item" href="news-item.html">
          <div class="news__image-wrapper">
            <img
              loading="lazy"
              class="news__image"
              width="310"
              height="207"
              src="img/news5.jpg"
              alt="Объявлен открытый конкурс на создание лучшего логотипа СКФУ"
            />
            <p class="news__date">18 января 2023 г.</p>
          </div>

          <h2 class="news__title">
            Представители СКФУ – участники «Студенческого десанта»
          </h2>
          <p class="news__text">
            В канун Дня российского студенчества МВД России проводит акцию
            «Студенческий десант». Помощь в организации мероприятия оказала
            заместитель председателя Общественного совета при ведомстве,
            директор Пятигорского института (филиала) Северо-Кавказского
            федерального университета Татьяна Шебзухова.
          </p>
        </a>
        <a class="news__item" href="news-item.html">
          <div class="news__image-wrapper">
            <img
              loading="lazy"
              class="news__image"
              width="310"
              height="207"
              src="img/news6.jpg"
              alt="Объявлен открытый конкурс на создание лучшего логотипа СКФУ"
            />
            <p class="news__date">18 января 2023 г.</p>
          </div>

          <h2 class="news__title">
            Представители СКФУ стали призерами и победителями конкурса на знание
            русской и абхазской словесности
          </h2>
          <p class="news__text">
            В Северо-Кавказском федеральном университете прошло торжественное
            награждение победителей конкурса на знание русской и абхазской
            словесности. Участие в нем принимали школьники и студенты вузов
            Республики Абхазия и России.
          </p>
        </a>
        <a class="news__item" href="news-item.html">
          <div class="news__image-wrapper">
            <img
              loading="lazy"
              class="news__image"
              width="310"
              height="207"
              src="img/news7.jpg"
              alt="Объявлен открытый конкурс на создание лучшего логотипа СКФУ"
            />
            <p class="news__date">18 января 2023 г.</p>
          </div>

          <h2 class="news__title">
            Лечебное дело, информационные технологии, нефтегазовое дело: СКФУ
            запустит партнерские проекты в Ливии
          </h2>
          <p class="news__text">
            В Москве ректор Северо-Кавказского федерального университета Дмитрий
            Беспалов провел рабочую встречу с Чрезвычайным и Полномочным Послом
            Ливии в России Эмхемедом А.Э. Альмаграви и Чрезвычайным и
            Полномочным Послом России в Ливии Айдаром Аганиным.
          </p>
        </a>
        <a class="news__item" href="news-item.html">
          <div class="news__image-wrapper">
            <img
              loading="lazy"
              class="news__image"
              width="310"
              height="207"
              src="img/news8.jpg"
              alt="Объявлен открытый конкурс на создание лучшего логотипа СКФУ"
            />
            <p class="news__date">18 января 2023 г.</p>
          </div>

          <h2 class="news__title">Своих героев нашли в ВУЦ СКФУ</h2>
          <p class="news__text">
            Творческий коллектив Северо-Кавказского федерального университета
            стал победителем конкурса документальных фильмов «Герои среди нас».
            Свою работу студенты снимали о преподавателях Военного учебного
            центра СКФУ.
          </p>
        </a>
      </div>
      <a href="#" class="button news__button"
        >Все новости
        <svg class="news__icon" width="22" height="22">
          <use xlink:href="img/svg-sprite.svg#i-arrow-r"></use>
        </svg>
      </a>
    </div>
  </div>
</section>
