<section class="unity">
  <div class="container site-section unity__wrapper">
    <div class="unity__inner">
      <div class="unity__col">
        <h2 class="unity__title">Анонсы</h2>
        <div class="modal js-modal">
          <button class="modal__close js-modal-close-btn">&#10006;</button>
          <div class="modal__content js-modal-content">
            <p class="modal__title js-selected-date">10 августа</p>

            <template class="js-event-item-template">
              <a class="event-item js-event-item" href="#">
                <div class="event-item__inner">
                  <div class="event-item__image-container">
                    <img
                      class="event-item__image js-event-image"
                      src="img/n-news8.jpg"
                      alt=""
                    />
                  </div>
                  <div class="event-item__info-container">
                    <p class="event-item__title js-event-title">
                      «Университетские смены» в СКФУ
                    </p>
                    <p class="event-item__text js-event-text">
                      <b>10 августа</b> в Северо-Кавказском федеральном
                      университете состоится открытие программы «Университетские
                      смены».
                    </p>
                    <p class="event-item__date js-event-date"></p>
                  </div>
                </div>
              </a>
            </template>

            <div class="js-current-items-container"></div>

            <div class="js-another-events-block" style="display: none">
              <hr class="mt-2 mb-2" />

              <p class="modal__subtitle">Другие анонсы</p>

              <div class="js-another-events-container"></div>
            </div>
          </div>
        </div>
        <div class="overlay js-overlay"></div>

        <div class="calendar">
          <div class="calendar__top">
            <div>
              <button class="calendar__button" id="previous">
                <img
                  class="calendar__btn-icon calendar__btn-icon_prev"
                  src="img/icons/arrow-left-accent.png"
                  alt=""
                  width="20"
                  height="20"
                />
              </button>
            </div>
            <div>
              <p class="calendar__month" id="monthAndYear"></p>
            </div>
            <div>
              <button class="calendar__button" id="next">
                <img
                  class="calendar__btn-icon calendar__btn-icon_next"
                  src="img/icons/arrow-right-accent.png"
                  alt=""
                  width="20"
                  height="20"
                />
              </button>
            </div>
          </div>

          <table class="calendar__body" id="calendar" data-lang="ru">
            <thead id="thead-month"></thead>
            <tbody id="calendar-body"></tbody>
          </table>

          <div class="calendar__footer">
            <label class="calendar__label" for="month">Перейти: </label>
            <select class="calendar__select" id="month">
              <option value="0">Январь</option>
              <option value="1">Февраль</option>
              <option value="2">Март</option>
              <option value="3">Апрель</option>
              <option value="4">Май</option>
              <option value="5">Июнь</option>
              <option value="6">Июль</option>
              <option value="7">Август</option>
              <option value="8">Сентябрь</option>
              <option value="9">Октябрь</option>
              <option value="10">Ноябрь</option>
              <option value="11">Декабрь</option>
            </select>
            <select class="calendar__select" id="year"></select>
          </div>
        </div>
        <div class="unity__col-footer">
          <a class="unity__link" href="#">Все анонсы</a>
        </div>
        <script src="js/single/anons.js"></script>
      </div>

      <div class="unity__col">
        <h2 class="unity__title">Конкурсы</h2>

        <div class="swiper unity__slider js-konkurs-slider">
          <div class="swiper-wrapper">
            <div class="swiper-slide">
              <a class="card-notice" href="#">
                <div class="card-notice__date-container">
                  <p class="card-notice__month-konkurs">
                    <span class="card-notice__day-konkurs">1</span>сентября
                  </p>
                  <p class="card-notice__month-konkurs">
                    <span class="card-notice__day-konkurs">10</span>сентября
                  </p>
                </div>
                <p class="card-notice__text">
                  III Международный конкурс молодых ученых в сфере
                  интеллектуальной собственности «Интеллект»
                </p>
              </a>
            </div>
            <div class="swiper-slide">
              <a class="card-notice" href="#">
                <div class="card-notice__date-container">
                  <p class="card-notice__month-konkurs">
                    <span class="card-notice__day-konkurs">15</span>февраля
                  </p>
                  <p class="card-notice__month-konkurs">
                    <span class="card-notice__day-konkurs">20</span>февраля
                  </p>
                </div>
                <p class="card-notice__text">
                  Конкурс работ на соискание премий Правительства Российской
                  Федерации 2023
                </p>
              </a>
            </div>
            <div class="swiper-slide">
              <a class="card-notice" href="#">
                <div class="card-notice__date-container">
                  <p class="card-notice__month-konkurs">
                    <span class="card-notice__day-konkurs">10</span>октября
                  </p>
                  <p class="card-notice__month-konkurs">
                    <span class="card-notice__day-konkurs">20</span>октября
                  </p>
                </div>
                <p class="card-notice__text">
                  Всероссийский конкурс «Учитель года – 2023»
                </p>
              </a>
            </div>
            <div class="swiper-slide">
              <a class="card-notice" href="#">
                <div class="card-notice__date-container">
                  <p class="card-notice__month-konkurs">
                    <span class="card-notice__day-konkurs">1</span>марта
                  </p>
                  <p class="card-notice__month-konkurs">
                    <span class="card-notice__day-konkurs">31</span>декабря
                  </p>
                </div>
                <p class="card-notice__text">
                  Конкурс на лучший антикоррупционный плакат
                </p>
              </a>
            </div>
            <div class="swiper-slide">
              <a class="card-notice" href="#">
                <div class="card-notice__date-container">
                  <p class="card-notice__month-konkurs">
                    <span class="card-notice__day-konkurs">1</span>сентябрь
                  </p>
                  <p class="card-notice__month-konkurs">
                    <span class="card-notice__day-konkurs">10</span>сентябрь
                  </p>
                </div>
                <p class="card-notice__text">
                  «Рождество с акцентом» для студентов СКФУ
                </p>
              </a>
            </div>
            <div class="swiper-slide">
              <a class="card-notice" href="#">
                <div class="card-notice__date-container">
                  <p class="card-notice__month-konkurs">
                    <span class="card-notice__day-konkurs">1</span>сентябрь
                  </p>
                  <p class="card-notice__month-konkurs">
                    <span class="card-notice__day-konkurs">10</span>сентябрь
                  </p>
                </div>
                <p class="card-notice__text">
                  «Рождество с акцентом» для студентов СКФУ
                </p>
              </a>
            </div>
            <div class="swiper-slide">
              <a class="card-notice" href="#">
                <div class="card-notice__date-container">
                  <p class="card-notice__month-konkurs">
                    <span class="card-notice__day-konkurs">1</span>сентябрь
                  </p>
                  <p class="card-notice__month-konkurs">
                    <span class="card-notice__day-konkurs">10</span>сентябрь
                  </p>
                </div>
                <p class="card-notice__text">
                  «Рождество с акцентом» для студентов СКФУ
                </p>
              </a>
            </div>
            <div class="swiper-slide">
              <a class="card-notice" href="#">
                <div class="card-notice__date-container">
                  <p class="card-notice__month-konkurs">
                    <span class="card-notice__day-konkurs">1</span>сентябрь
                  </p>
                  <p class="card-notice__month-konkurs">
                    <span class="card-notice__day-konkurs">10</span>сентябрь
                  </p>
                </div>
                <p class="card-notice__text">
                  «Рождество с акцентом» для студентов СКФУ
                </p>
              </a>
            </div>
          </div>
        </div>

        <div class="unity__col-footer">
          <a class="unity__link" href="#">Все конкурсы</a>
        </div>

        <div
          class="swiper-button-next unity__slider-btn unity__slider-btn_next js-konkurs-slider-next"
        >
          <img
            class="unity__slider-btn-icon-k rotate unity__slider-btn-icon-k_next"
            src="img/icons/arrow-right-accent.png"
            alt=""
            width="20"
            height="20"
          />
        </div>
        <div
          class="swiper-button-prev unity__slider-btn unity__slider-btn_prev js-konkurs-slider-prev"
        >
          <img
            class="unity__slider-btn-icon-k rotate unity__slider-btn-icon-k_prev"
            src="img/icons/arrow-left-accent.png"
            alt=""
            width="20"
            height="20"
          />
        </div>
      </div>

      <div class="unity__col">
        <h2 class="unity__title">Объявления</h2>
        <div class="swiper unity__slider unity__slider--post js-ob-slider">
          <div class="swiper-wrapper unity__grid">
            <div class="swiper-slide">
              <a class="card-sticker" href="#">
                <div class="card-sticker__text">
                  <p class="card-sticker__title">
                    Противодействие незаконному обороту наркотиков
                  </p>
                  <p class="card-sticker__desc">
                    В целях повышения эффективности деятельности по профилактике
                    наркомании и противодействию незаконному обороту наркотиков
                    аппаратом антинаркотической комиссии в Ставропольском крае
                    организована работа телеграм-канала.
                  </p>
                </div>
              </a>
            </div>

            <div class="swiper-slide">
              <a class="card-sticker" href="#">
                <div class="card-sticker__text">
                  <p class="card-sticker__title">
                    Рекомендации по мерам предупреждения распространения новой
                    коронавирусной инфекции
                  </p>
                  <p class="card-sticker__desc">
                    Департамент координации деятельности образовательных
                    организаций Минобрнауки России сообщает о необходимости
                    доведения до обучающихся и сотрудников об обязательности
                    соблюдения мер по предупреждению завоза и распространения
                    новой коронавирусной инфекции в соответствии с приложением.
                  </p>
                </div>
              </a>
            </div>

            <div class="swiper-slide">
              <a class="card-sticker" href="#">
                <div class="card-sticker__text">
                  <p class="card-sticker__title">
                    Противодействие незаконному обороту наркотиков
                  </p>
                  <p class="card-sticker__desc">
                    В целях повышения эффективности деятельности по профилактике
                    наркомании и противодействию незаконному обороту наркотиков
                    аппаратом антинаркотической комиссии в Ставропольском крае
                    организована работа телеграм-канала.
                  </p>
                </div>
              </a>
            </div>

            <div class="swiper-slide">
              <a class="card-sticker" href="#">
                <div class="card-sticker__text">
                  <p class="card-sticker__title">
                    Противодействие незаконному обороту наркотиков
                  </p>
                  <p class="card-sticker__desc">
                    В целях повышения эффективности деятельности по профилактике
                    наркомании и противодействию незаконному обороту наркотиков
                    аппаратом антинаркотической комиссии в Ставропольском крае
                    организована работа телеграм-канала.
                  </p>
                </div>
              </a>
            </div>
          </div>
        </div>

        <div class="unity__col-footer">
          <a class="unity__link" href="#">Все объявления</a>
        </div>

        <div
          class="swiper-button-next unity__slider-btn unity__slider-btn_next js-ob-slider-next"
        >
          <img
            class="unity__slider-btn-icon-n unity__slider-btn-icon-n__next"
            src="img/icons/arrow-right-accent.png"
            alt=""
            width="20"
            height="20"
          />
        </div>
        <div
          class="swiper-button-prev unity__slider-btn unity__slider-btn_prev js-ob-slider-prev"
        >
          <img
            class="unity__slider-btn-icon-n unity__slider-btn-icon-n__prev"
            src="img/icons/arrow-left-accent.png"
            alt=""
            width="20"
            height="20"
          />
        </div>
      </div>
    </div>
  </div>
</section>
<script>
  document.addEventListener("DOMContentLoaded", function () {
    const swiperKonkurs = new Swiper(".js-konkurs-slider", {
      slidesPerView: 1.05,
      spaceBetween: 10,
      loop: false,
      autoHeight: true,
      direction: "horizontal",
      breakpoints: {
        768: {
          slidesPerView: 2.3,
          direction: "vertical",
        },
      },
      navigation: {
        nextEl: ".js-konkurs-slider-next",
        prevEl: ".js-konkurs-slider-prev",
      },
    });

    let swiperOb;
    const swiperInit = function () {
      swiperOb = new Swiper(".js-ob-slider", {
        slidesPerView: 1.05,
        spaceBetween: 10,
        loop: false,
        autoHeight: true,
        direction: "horizontal",
        breakpoints: {
          768: {
            slidesPerView: 1.2,
            direction: "horizontal",
          },
        },
        navigation: {
          nextEl: ".js-ob-slider-next",
          prevEl: ".js-ob-slider-prev",
        },
      });
    };
    swiperInit();
  });
</script>
